$text: rgba(255, 255, 255, 1); // 常用字体颜色
$select-bg: rgba(37, 77, 115, 1); // 下拉背景色
$weak-text: rgba(255, 255, 255, 0.4); // 常用弱字体颜色
$input-bg: #1c222a; // 输入框背景颜色
$input-border: rgba(192, 196, 204, 0.5); // 输入框边框颜色
$input-border-active: rgba(192, 196, 204, 1); // 输入框聚焦边框颜色
$dropdown-item-bg-active: rgba(71, 79, 85, 1); // 下拉菜单选中项背景颜色
$divider: rgba(192, 196, 204, 0.2); // 分割线颜色
$table-border: rgba(192, 196, 204, 0.2); // 表格边框颜色
$button-primary-text: rgba(115, 253, 255, 1); // 主文字按钮的字体颜色